name: Nuclei Recon Pipeline

on:
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Install Chromium
        run: sudo apt install -y chromium

      - name: Setup Go & Dependencies
        run: |
          sudo apt update
          sudo apt install -y golang
          pip3 install uro
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
          go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest
          go install -v github.com/projectdiscovery/nuclei/v3/cmd/nuclei@latest

      - name: Run Nuclei Recon
        run: |
          source $GITHUB_ENV
          subfinder -d  playuzleuven.be -all -recursive -silent | tee subs.txt

          # Probe live hosts
          cat subs.txt | httpx -silent -follow-redirects | tee alive.txt
          
          # Run nuclei on live hosts
          nuclei -l alive.txt \
                 -severity critical,high,medium \
                 -o nuclei_results.txt \
                 -c 50 -rl 300 -retries 5  \
                 -stats \

      - name: Show Nuclei Results
        if: always()
        run: cat nuclei_results.txt
